@import '../utils/main.utils.scss';
.subscription {
    .container {
        position: relative;
        overflow: hidden;
        height: 383px;
        background-color: #B1BED0;
        border-radius: 10px;
        @include flex(column, center, center);
        img {
            position: absolute;
            z-index: 0;
        }
        .subscription-img__x1 {
            bottom: 0px;
            left: 0px;
        }
        .subscription-img__x2 {
            left: 50px;
            bottom: 0px;
        }
        .subscription-img__x3 {
            left: 0px;
            bottom: 50px;
        }
        .subscription-img__x4 {
            left: 50px;
            bottom: 50px;
        }
        .subscription-img__m1 {
            top: 0px;
            right: 0px;
        }
        .subscription-img__m2 {
            top: 0px;
            right: 40px;
        }
        .subscription-img__m3 {
            top: 40px;
            right: 0px;
        }
        .subscription-img__m4 {
            top: 40px;
            right: 40px;
        }
        .subscription-overhead {
            font-family: 'Average Sans';
            letter-spacing: 0.155em;
            @include font(18px, 400, 24px, #FFFFFF);
        }
        .title-text {
            margin: 25px 0 44px;
            font-family: 'Open Sans';
            text-align: center;
            font-size: 40px;
            line-height: 50px;
            color: #353637;
        }
    }
}

.subscription-form {
    position: relative;
    z-index: 2;
    width: 44.6%;
    form {
        width: 100%;
        @include flex(row, null, center);
        input[type="mail"] {
            width: 77%;
            padding: 13px 20px;
            box-shadow: 0px 2px 12px rgba(52, 52, 52, 0.15);
            border-radius: 6px;
            font-family: 'Open Sans';
            @include font(14px, 400, 14px, #334052);
            &::placeholder {
                @include font(14px, 400, 14px, #A2A2A2);
            }
        }
        input[type="submit"] {
            flex: 1;
            height: 45px;
            background-color: #889CB9;
            box-shadow: -3px 2px 12px rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            margin-left: -10px;
            cursor: pointer;
            font-family: 'Open Sans';
            letter-spacing: 0.02em;
            @include font(16px, 400, 16px, #FFFFFF);
        }
    }
}

@media screen and (max-width: 1100px) {
    .subscription {
        .container {
            max-width: 90%;
        }
    }
}

@media screen and (max-width: 750px) {
    .subscription {
        .container {
            height: 300px;
            .subscription-overhead {
                @include font(12px, 400, 12px, #fff);
            }
            .title-text {
                margin: 15px 0 34px;
                @include font(30px, 400, 40px, #353637)
            }
        }
    }
    .subscription-form {
        form {
            input[type="mail"] {
                padding: 8px 20px;
            }
            input[type="submit"] {
                height: 35px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .subscription-form {
        width: 90%;
        form {
            input[type="mail"] {
                padding: 0 10px;
                height: 35px;
                @include font(12px, 400, 12px, #A2A2A2);
                &::placeholder {
                    @include font(12px, 400, 12px, #A2A2A2);
                }
            }
            input[type="submit"] {
                @include font(12px, 400, 12px, #fff);
            }
        }
    }
}

@media screen and (max-width: 490px) {
    .subscription {
        .container {
            height: 250px;
            .title-text {
                @include font(22px !important, 400, 28px, #353637);
            }
        }
    }
}