include ../mixin/mixin.pug

section.about-us
    .container
        ul.about-us__list
            +aboutUsItem('room', true, 'Room & Suites')
            +aboutUsItem('restaurant', true, 'Restaurant')
            +aboutUsItem('exceptional-food', true, 'Exceptional Food')
            +aboutUsItem('destination', false, 'Destination')