footer.footer 
    .container {
        ul.footer-col__list 
            li.footer-col__item
                a(href="/").logo-wrap
                    .logo-img
                        include ../../img/logo/logo-img1.svg
                        include ../../img/logo/logo-img2.svg
                        include ../../img/logo/logo-img3.svg
                    .logo-text HOTEL
                p.footer-text Itawa is a responsive real estate landing page <br> template.Itawa is a  landing page template.Itawa <br> template.
            li.footer-col__item
                h5.footer-column__title Contact Us
                ul.contact-list
                    li.contact-item
                        include ../../img/icons/map.svg
                        span 123 Business Centre London SW1A 1AA
                    li.contact-item
                        include ../../img/icons/phone.svg
                        span +1 0000 000 00
                    li.contact-item
                        include ../../img/icons/mail.svg
                        span info@businessname.com
            li.footer-col__item
                h5.footer-column__title Follow Us
                ul.social-list
                    li.social-item
                        include ../../img/icons/facebook.svg
                    li.social-item
                        include ../../img/icons/inst.svg
                    li.social-item
                        include ../../img/icons/twitter.svg
                p.footer-text Itawa is a responsive real estate landing page <br> template.Itawa is a  landing page template.Itawa <br> template.
                    