section.our-history 
    .container(data-aos="fade-up")
        .our-history__text-content
            h3.title-text(data-aos="fade-up") Discover Our History
            p.our-history__text(data-aos="fade-up") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
            p.our-history__text(data-aos="fade-up") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            .btn-watch-video__wrap
                button#explore-more.btn(data-aos="fade-up") Explore More
                a(href="#" data-aos="fade-up" data-aos-delay='200').btn-play-video
                    .btn-watch-video__img
                        include ../../img/icons/play.svg
                    .btn-watch-video__text Watch video
        .our-history__video
            .btn-play-video__our-history-wrap(data-aos="zoom-in" data-aos-offset="300")
                a.btn-play-video
                    include ../../img/icons/oh-play.svg