section.our-services
    h6.our-services__overhead OUR SERVICES
    h2.title-text Hotel Facilities
    .container
        ul.our-services__list
            li.our-services__item
                h4.our-services__item-title Pick up & Drop
                h4.our-services__item-text It is a long established fact that a reader will be distracted by the readable content of a page.
                img(src="../../img/icons/our-services__img1.svg", alt="img1") 
            li.our-services__item
                h4.our-services__item-title Parking Space
                h4.our-services__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                img(src="../../img/icons/our-services__img2.svg", alt="img2")
            li.our-services__item
                h4.our-services__item-title Room Services
                h4.our-services__item-text It is a long established fact that a reader will be distracted by the readable content of a page.
                img(src="../../img/icons/our-services__img3.svg", alt="img3")
            li.our-services__item
                h4.our-services__item-title Swimming Pool
                h4.our-services__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                img(src="../../img/icons/our-services__img4.svg", alt="img4")
            li.our-services__item
                h4.our-services__item-title Fibre Internet
                h4.our-services__item-text It is a long established fact that a reader will be distracted by the readable content of a page.
                img(src="../../img/icons/our-services__img5.svg", alt="img5")
            li.our-services__item
                h4.our-services__item-title Breakfast
                h4.our-services__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                img(src="../../img/icons/our-services__img6.svg", alt="img6")