include ../mixin/mixin.pug
section.our-customers
    .container
        h3.title-text Our Happy Customers
        p.subtitle-text Know about our clients, we are a woldwide corporate brand
    .container.container-our-customers__swiper
        .swiper.our-customers__swiper
            .swiper-wrapper.our-customers__swiper-list
                +sliderItems('../../img/our-customers/avatar1.svg', 'Wade Warren', 'Louis Vuitton', 'Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.')
                +sliderItems('../../img/our-customers/avatar2.svg', 'Albert Florise', 'Nintendo', 'Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.')
                +sliderItems('../../img/our-customers/avatar3.svg', 'Jenny Wilson', 'Bank of America', 'Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.')
                +sliderItems('../../img/our-customers/avatar1.svg', 'Wade Warren', 'Louis Vuitton', 'Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.')
                +sliderItems('../../img/our-customers/avatar2.svg', 'Albert Florise', 'Nintendo', 'Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.')
                +sliderItems('../../img/our-customers/avatar3.svg', 'Jenny Wilson', 'Bank of America', 'Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.')
        .swiper-pagination.our-customers-swiper-pagination