include ../mixin/mixin.pug
section.our-news
    .container
        h4.overhead HOTEL BLOG
        h3.title-text Our News
    .container
        .swiper.our-news__swiper
            .swiper-wrapper.our-news__swiper-list
                +ourNewsSliderItem('../../img/our-news/img1.webp', 'How To Travel With Map', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
                +ourNewsSliderItem('../../img/our-news/img2.webp', 'Single Contrast Room', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
                +ourNewsSliderItem('../../img/our-news/img3.webp', 'Luxery Twin Room', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
        .swiper-pagination.our-news-swiper-pagination