include ../mixin/mixin.pug
section.our-news
    .container
        h4.overhead HOTEL BLOG
        h3.title-text Our News
    .container
        .swiper.our-news__swiper
            .swiper-wrapper.our-news__swiper-list
                +ourNewsSliderItem('How To Travel With Map', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
                +ourNewsSliderItem('Single Contrast Room', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
                +ourNewsSliderItem('Luxery Twin Room', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
        .swiper-pagination.our-news-swiper-pagination
