include ../mixin/mixin.pug
section.populer-room
    h2.title-text(data-aos="fade-up") Our Most Populer Room
    p.subtitle-text(data-aos="fade-up") It is a long established fact that a reader will be distracted <br> by the readable content of a page.
    .container 
        ul.populer-room-list
            +populerRoomItem('populer-room-item1', '../../img/populer-room/item-img1.webp', 'Deluxe Contrast Room', '$200', '200', null)
            +populerRoomItem('populer-room-item2', '../../img/populer-room/item-img2.webp', 'Luxery Twin Room', '$250', '500', '.populer-room-item1')
            +populerRoomItem('populer-room-item3', '../../img/populer-room/item-img3.webp', 'Single Contrast Room', '$280', '800', '.populer-room-item2')