section.subscription
    .container
        h6.subscription-overhead Stay in Touch
        h2.title-text Signup to receive news and <br> updates from our hotel.
        .subscription-form 
            form(action="#")
                input(type="mail" placeholder="Enter Your Email Address")
                input(type="submit" value="subscribe") 
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x").subscription-img__x1
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x").subscription-img__x2
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x").subscription-img__x3
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x").subscription-img__x4
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x").subscription-img__m1
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x").subscription-img__m2
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x").subscription-img__m3
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x").subscription-img__m4