section.subscription
    .container(data-aos="fade-up")
        h6.subscription-overhead(data-aos="fade-up") Stay in Touch
        h2.title-text(data-aos="fade-up") Signup to receive news and <br> updates from our hotel.
        .subscription-form(data-aos="fade-up") 
            form(action="#")#sendEmail
                input(type="mail" placeholder="Enter Your Email Address")#input-send-mail
                input(type="submit" value="subscribe") 
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="50" data-aos-offset="60").subscription-img__x1
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="100" data-aos-offset="60").subscription-img__x2
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="150" data-aos-offset="60").subscription-img__x3
        img(src="../../img/icons/subscription-img__x.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="200" data-aos-offset="60").subscription-img__x4
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="50").subscription-img__m1
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="100").subscription-img__m2
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="150").subscription-img__m3
        img(src="../../img/icons/subscription-img__m.svg", alt="img-x" data-aos="fade-up-right" data-aos-delay="200").subscription-img__m4