@import './utils/main.utils.scss';
@import './modules/mobile-menu.scss';
@import './modules/header.scss';
@import './modules/check-availability.scss';
@import './modules/populer-room.scss';
@import './modules/our-services.scss';
@import './modules/about-us.scss';
@import './modules/our-history.scss';
@import './modules/our-customers.scss';
@import './modules/our-news.scss';
@import './modules/subscription.scss';
@import './modules/footer.scss';
@import './modules/copyright.scss';
//--- MODAL ---
.modal-wrap {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    background-color: #a6b5cba3;
    animation: open-modal .7s both;
    @include flex(row, center, center);
    .modal {
        position: relative;
        animation: slide-top .7s .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.animation-close-modal {
    animation: close-modal .7s .7s both;
    .modal {
        animation: slide-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

// --- LOGO ---
.logo-wrap {
    position: relative;
    @include flex(row, null, center);
    .logo-img {
        position: absolute;
        bottom: 0px;
        max-height: 46px;
        svg {
            &:nth-child(2) {
                margin-left: -4px;
            }
            &:nth-child(3) {
                margin-left: -4px;
            }
        }
    }
    .logo-text {
        padding-left: 39px;
        @include font(26px, 600, 20px, $COLOR__DARK-BLUE)
    }
}

.btn-watch-video__wrap {
    @include flex(row, null, center);
    a {
        margin-left: 54px;
        @include flex(row, null, center);
        .btn-watch-video__text {
            margin-left: 11px;
            letter-spacing: 0.02em;
            transition: .2s;
            @include font(16px, 400, 26px, #353637);
        }
        svg {
            transition: .2s;
        }
        &:hover {
            .btn-watch-video__text {
                color: #435876;
            }
            svg {
                fill: #435876;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .btn-watch-video__wrap {
        @include flex(row, center, center)
    }
}

@media screen and (max-width: 600px) {
    .btn-watch-video__wrap {
        @include flex(row, space-around, center);
        a {
            margin-left: 0px;
        }
    }
}

//--- FORM MESSAGE ---
.messageForm__wrap {
    padding: 20px 40px;
    background-color: #fff;
    border: 1px solid #597193;
    @include flex(row, center, center);
    .messageForm__text {
        @include font(3vh, 400, 3vh, #597193)
    }
}

//--- SWIPER PAGINATION ---
.swiper-pagination {
    position: absolute;
    .swiper-pagination-bullet {
        width: 16px;
        height: 10px;
        background-color: rgba(177, 190, 208, 0.66);
        border-radius: 58px;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 36px;
        height: 10px;
        background-color: #597193;
    }
}

//--- TEXT ---
.title-text {
    text-align: center;
    @include font(45px, 400, 55px, #353637);
}

.subtitle-text {
    font-family: 'Average Sans';
    text-align: center;
    @include font(18px, 400, 28px, #959595);
}

.overhead {
    font-family: 'Average Sans';
    text-transform: uppercase;
    letter-spacing: 0.26em;
    @include font(16px, 400, 16px, #597193);
}

@media screen and (max-width: 950px) {
    .header-content__left .title-text {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .title-text {
        @include font(30px !important, 400, 55px, #353637);
    }
    .subtitle-text {
        font-size: 15px;
        line-height: 20px;
    }
    .overhead {
        @include font(12px, 400, 16px, #597193);
    }
}